#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 78px;
    color: #fff;
    background: #e54b4b;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #header-img {
    height: 26px;
    width: 26px;
    margin: 0 0 4px 6px;
  }
  #nav-links {
    display: flex;
    list-style-type: none;
  }
  html{
     font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  body{
    margin:0%;
    padding:0%;
    border:4px #e54b4b solid;
  }
  h1{
    font-size:1.4rem;
  }
  #details {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
  }
  #email{
    font-size: 1rem;
    width: 200px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.35rem;
    margin-bottom: 12px;
  }
  #features {
    margin-bottom: 50px;
  }
  #footer {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #e54b4b;
    height: var(--header-height);
    padding: 0 2rem;
    color: white;
  }
  @media screen and (max-width:600px){
    body{
      background-color:lightcyan;
    }
  }